pydantic==2.8.2
python-dotenv==1.0.1
aiohttp==3.9.5
websockets==12.0
numpy==1.26.4
pandas==2.2.2
ta==0.10.2
loguru==0.7.2
python-telegram-bot==21.4
pytest==8.2.2
pytest-asyncio==0.23.7
pyyaml==6.0.1
httpx
pytest
pytest-asyncio
scikit-learn
joblib
matplotlib
pandas_ta
pytest-cov
pyarrow
optuna>=3.6.0